@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
/*== Global Value/Variables ==*/

:root {
  --gradient-1: linear-gradient( hsl(252, 100%, 67%) 15%, hsl(241, 81%, 54%));
  --gradient-2: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  --Hanken-family: 'Hanken Grotesk', sans-serif;
  --light-weight: 500;
  --medium-weight: 700;
  --bold-weight: 800;

}

* {
  margin: 0;
  padding: 0;

}

/* == Mobile Design== */
body {
 width: 100%;
 height: 100%;
}


.box-1{
 display: flex;
 flex-direction: column;
 width: 180px;
 height: 290px;
background: var(--gradient-1);
border-radius: 20px;
}

.circle{
  height: 150px;
  width: 150px;
  background: var(--gradient-2);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  bottom: 30px;

}

.result {
  color:var(--white);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 20px;
  opacity: 0.6;
  position: relative;
  bottom: 35px; 
}

.number1 {
  color: var(--white);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: relative;
  left: 45px;
  bottom: 10px;
}

.number2 {
  color: var(--white);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.6;
  position: relative;
  bottom: 65px;
  left: 52px;

}

.great {
  color:var(--white);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 23px;
  font-weight: 700;
  position: relative;
  bottom: 30px;
}

.score {
  color:var(--white);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  bottom: 53px;
  text-align: center;
  opacity: 0.8;

}

.summary {
 font-family: 'Hanken Grotesk', sans-serif;
 font-size: 20px;
 font-weight: 800;
 position: relative;
 left: 630px;
 bottom: 405px;
 opacity: 0.8;
}

.reaction {
  font-family: 'Hanken Grotesk', sans-serif;
  color: var(--light-red);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  left: 670px;
  bottom: 396px;
  z-index: 2; 
}

.container-r {
  height: 40px;
  width: 260px;
  background: var(--light-red);
  border-radius: 10px;
  position: relative; 
  left: 630px;
  bottom: 440px;
}
  

.lightning {
  width: 15px;
  height: 15px;
  fill: var(--light-red);
  position: relative;
  right: 90px;
  top: 2px;
}
.chat{
  width: 15px;
  height: 15px;
  position: relative;
  right: 70px;
  top: 2px;
}
.score-r {
  font-family: 'Hanken Grotesk', sans-serif;
  position: relative;
  left: 800px;
  bottom: 649px; 
}


.memory {
  font-family: 'Hanken Grotesk', sans-serif;
  color:var(--orangey-yellow); 
  font-weight: 500;
  font-size: 16px;
  position: relative;
  left: 670px;
  bottom: 396px;
  z-index: 2; 
}

.container-m{
  height: 40px;
  width: 260px;
  background:var(--orangey-yellow)
  border-radius: 10px;
  position: relative; 
  left: 630px;
  bottom: 440px; 
}

.verbal {
  font-family: 'Hanken Grotesk', sans-serif;
  color: var(--green-teal);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  left: 670px;
  bottom: 396px;
  z-index: 2;
}
.container-ve{
  height: 40px;
  width: 260px;
  background-color:var(--green-teal);
  border-radius: 10px;
  position: relative; 
  left: 630px;
  bottom: 440px;
}
.visual {
  font-family: 'Hanken Grotesk', sans-serif;
  color: var(--cobalt-blue);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  left: 670px;
  bottom: 396px;
  z-index: 2;
}

.container-vi{
  height: 40px;
  width: 260px;
  background-color:var(--light-lavender);
  border-radius: 10px;
  position: relative; 
  left: 630px;
  bottom: 440px;
}

button {
 position: relative;
 left: 630px;
 bottom: 405px;
}