@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

.box-1{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 180px;
 height: 290px;
 padding: 50px;
 margin: 50px;
 margin-left: 320px;
background: linear-gradient( hsl(252, 100%, 67%) 15%, hsl(241, 81%, 54%));
border-radius: 20px;
}

.circle{
  height: 150px;
  width: 150px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  display: inline-block;
  border-radius: 50%;
  position: relative;
  bottom: 30px;

}

.result {
  color: hsl(0, 0%, 100%);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 20px;
  opacity: 0.6;
  position: relative;
  bottom: 35px; 
}

.number1 {
  color: hsl(0, 0%, 100%);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: relative;
  left: 45px;
  bottom: 10px;
}

.number2 {
  color: hsl(0, 0%, 100%);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.6;
  position: relative;
  bottom: 65px;
  left: 52px;

}

.great {
  color: hsl(0, 0%, 100%);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 23px;
  font-weight: 700;
  position: relative;
  bottom: 30px;
}

.score {
  color: hsl(0, 0%, 100%);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 13px;
  font-weight: 500;
  position: relative;
  bottom: 53px;
  text-align: center;
  opacity: 0.8;

}

.summary {
 font-family: 'Hanken Grotesk', sans-serif;
 font-size: 20px;
 font-weight: 800;
 position: relative;
 left: 630px;
 bottom: 405px;
 opacity: 0.8;
}

.reaction {
  font-family: 'Hanken Grotesk', sans-serif;
  color: rgb(250, 63, 63);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  left: 670px;
  bottom: 396px;
  z-index: 2; 
}

.container-r {
  height: 40px;
  width: 260px;
  background-color:hsl(0, 77%, 91%);
  border-radius: 10px;
  position: relative; 
  left: 630px;
  bottom: 440px;
}
  

.lightning {
  width: 15px;
  height: 15px;
  fill: hsl(0, 100%, 67%);
  position: relative;
  right: 90px;
  top: 2px;
}
.chat{
  width: 15px;
  height: 15px;
  position: relative;
  right: 70px;
  top: 2px;

}
.score-r {
  font-family: 'Hanken Grotesk', sans-serif;
  position: relative;
  left: 800px;
  bottom: 649px; 
}


.memory {
  font-family: 'Hanken Grotesk', sans-serif;
  color: rgb(248, 248, 68); 
  font-weight: 500;
  font-size: 16px;
  position: relative;
  left: 670px;
  bottom: 396px;
  z-index: 2; 
}

.container-m{
  height: 40px;
  width: 260px;
  background-color:hsl(62, 86%, 86%);
  border-radius: 10px;
  position: relative; 
  left: 630px;
  bottom: 440px; 
}

.verbal {
  font-family: 'Hanken Grotesk', sans-serif;
  color: hsl(140, 90%, 35%);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  left: 670px;
  bottom: 396px;
  z-index: 2;
}
.container-ve{
  height: 40px;
  width: 260px;
  background-color:hsl(115, 74%, 82%);
  border-radius: 10px;
  position: relative; 
  left: 630px;
  bottom: 440px;
}
.visual {
  font-family: 'Hanken Grotesk', sans-serif;
  color: rgb(111, 111, 253);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  left: 670px;
  bottom: 396px;
  z-index: 2;
}

.container-vi{
  height: 40px;
  width: 260px;
  background-color:hsl(216, 74%, 82%);
  border-radius: 10px;
  position: relative; 
  left: 630px;
  bottom: 440px;
}

button {
 position: relative;
 left: 630px;
 bottom: 405px;
}