.box-1{
 display: flex;
 align-items: center;
 width: 375px;
 padding: 46px;
 margin: 10px;
background: linear-gradient( hsl(252, 100%, 67%) 15%, hsl(241, 81%, 54%));
border-radius: 15px;

}

.circle{
  height: 120px;
  width: 130px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  display: flex;
  border-radius: 50%;
}

.box-2{
 display: flex; 
 text-align: center; 
}

.list {
 list-style-type: none;
 display: flex;
 text-align: center;
}

.result{
  align-items: start;
  
}
